.navbar {
    background-color: #333;
    /* Set header background color */
    color: #fff;
    /* Set text color */
    padding: 10px;
    /* Add padding to header */
    position: fixed;
    /* Set position to fixed */
    width: 100%;
    /* Set width to 100% of the viewport */
    top: 0;
    /* Position at the top of the viewport */
    z-index: 1000;
    /* Set z-index to ensure it's on top of other elements */
}
/*
@media only screen and (min-width: 768px) {
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 30%;
        padding: 10px;
    }
}

@media only screen and (max-width: 768px) {

    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-md-3 {
        flex: 0 0 auto;
        padding: 10px;
    }
}*/

/* Default styles for all screen sizes */

/* Styles specific to large screens */
@media only screen and (min-width: 1025px) {
    /* Add your CSS styles here for large screens */
    .item-image {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border: 1px solid #333;
    }

    .item-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Show 3 items per row on large screens */
      gap: 20px; /* Add some gap between items */
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 30%;
        padding: 10px;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Add your CSS styles here for large screens */
    .item-image {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border: 1px solid #333;
    }
    .item-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Show 3 items per row on large screens */
      gap: 20px; /* Add some gap between items */
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .col-md-3 {
        flex: 0 0 auto;
        width: 30%;
        padding: 10px;
    }
}
  /* Styles specific to small screens */
  @media only screen and (max-width: 767px) {
    /* Add your CSS styles here for small screens */

    .item-image {
        width: 100%;
        height: 100px;
        object-fit: cover;
        border: 1px solid #333;
    }

    .item-list {
      display: flex;
      flex-wrap: wrap; /* Wrap items to the next row on small screens */
    }
  }