{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="text-center">Cart</h2>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <table class="table table-striped ">
                    <tr class="text-center">
                        <th>Image</th>
                        <th>Item</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    {% for cart_item in cart_items %}
                    <tr class="text-center">
                        <td><img src="{{ cart_item.item.image.url }}" alt="{{ cart_item.item.name }}" width="50"
                                height="50">
                        </td>
                        <td>{{ cart_item.item.name }}</td>
                        <td>{{ cart_item.quantity }}</td>
                        <td>€{{ cart_item.item.price }}</td>
                        <td>
                            <form method="POST" action="{% url 'remove_from_cart' cart_item.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Your cart is empty.</td>
                    </tr>
                    {% endfor %}
                    <tfoot>
                        <tr style="text-align: right;">
                            <td colspan="4"><b>Total Price: €{{ total_price }}</b></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    {% if cart_items %}
    <div class="col-12 mt-3 text-center">
        <a href="{% url 'menu' %}"><button class="btn btn-primary" type="button">Back to Shopping</button></a>
        <a href="{% url 'checkout' %}"><button class="btn btn-primary" type="button">Checkout</button></a>
    </div>
    {% endif %}

</div>
{% endblock %}
