{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <!---<div class="row">
        <div class="col-12 mt-3">
            <h2 class="text-center"><i>Namaste</i></h2>
            <hr />
        </div>
    </div>--->
    <div class="container">
        <div class="row">
            <img src="/static/images/namaste.jpg" alt="welcoming action">
        </div>
        <div class="row">
            <h3>A Culinary Journey Through India</h3>
        </div>
        <div class="row">
            <p>
                At Namaste, our mission is to bring the rich and varied tapestry of Indian cuisine to your table. Our
                restaurant
                is
                more than just a place to eat; it's an experience steeped in tradition and flavored with the
                extraordinary
                diversity
                of India itself.
            </p>
        </div>
        <br>
        <br>
        <div class="row">
            <h4>Our Story</h4>
            <p> Namaste was born from a passion for the authentic flavors and unique spices of India. Founded by
                culinary
                enthusiasts with deep roots in various parts of India, our restaurant is a celebration of our heritage
                and
                love
                for
                Indian cuisine. We strive to create dishes that are not only delicious but also tell the story of our
                culture.</p>
        </div>
        <br>
        <br>
        <div class="row">
            <h4>Our Cuisine</h4>
            <p> Our menu is a mosaic of Indian flavors, featuring both traditional favorites and innovative creations.
                From the
                fiery spices of Northern India to the coastal delicacies of the South, every dish at Namaste is an
                adventure. We
                use
                only the freshest ingredients and authentic spices, ensuring each meal is a memorable experience.</p>
        </div>
        <br>
        <br>
        <div class="row">
            <h4>Our Commitment</h4>
            <p> At Namaste, we are committed to providing an exceptional dining experience. Our chefs are masters of
                their
                craft,
                our staff is friendly and attentive, and our ambiance is warm and welcoming. We believe in
                sustainability and
                source
                our ingredients from local suppliers whenever possible, supporting our community and ensuring the
                highest
                quality
                for our guests.</p>
        </div>
    </div>
</div>
{% endblock %}