{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="text-center">Order {{ order.id }}</h2>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Order Items</h4>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Item</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in order_items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ order_item.item.name }}</td>
                        <td>{{ order_item.quantity }}</td>
                        <td>{{ order_item.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4>Billing Information</h4>
            <br>
            <p><strong>Name:</strong> {{ order.name }}</p>
            <p><strong>Address:</strong> {{ order.address }}</p>
            <p><strong>City:</strong> {{ order.city }}</p>
            <p><strong>County:</strong> {{ order.county }}</p>
            <p><strong>Postcode:</strong> {{ order.postcode }}</p>
            <p><strong>Phone:</strong> {{ order.phone }}</p>
            <p><strong>Email:</strong> {{ order.email }}</p>
        </div>
    </div>
</div>

{% endblock %}